/* author: bonskpy@gmail.com */

/*layout and reset-like styling*/
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  line-height: 1.2;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  background: whitesmoke;
}

.container {
  background: white;
  width: 375px;
  margin: 0 auto;
  padding-bottom: 10px;
}

/*post content styling*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #C6C6C6;
}

.main-logo {
  flex: 0 1 33%;
  max-width: 40%;
}

.user-picture {
  height: 35px;
  width: 35px;
  border-radius: 50%;

}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-details {
  margin-left: 7px;
}

img {
  max-width: 100%;
}

.post-image {
  margin-bottom: 10px
}

/*reaction icons*/

.reaction-icons {
  padding: 10px;
}

.reaction-icons img {
  margin-right: 5px;
  width: 30px;
  height: 30px; 
}

.reaction-heart:hover,
.reaction-comment:hover,
.reaction-dm:hover {
  opacity: 0.6;
}

.post-body p {
  padding: 0 10px;
  margin-bottom: 10px;

}

/*utility classes*/

.bolder-font {
  font-weight: 800;
}

.smaller-font {
  font-size: 0.9rem;
}