html, body, header, main, footer, div, p {
    margin: 0;
    padding: 0;
    border: 1px solid gray;
}

.container {
    margin: 0 auto;
    width: 375px;
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.user-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.op-section {
    display: flex;
    padding: 15px 10px;
    border-top: 1px solid #C6C6C6;
}

.op-details {
    margin: 0 10px;
}

.main-logo {
    width: 130px;
}

.main-picture {
    height: 375px;
    width: 375px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    height: 115px;
}

.icons {
    display: inline;
}

.reaction-icon {
    height: 22px;
    margin-right: 10px;
}



.weight-700 {
    font-weight: 700;
}